body{
    padding-inline: 12rem;
}
header{
    margin-left: -12rem;
    height: unset;
    background-color: aliceblue;
    flex-direction: row;
}
@media (max-width:900px) {
    body{
        padding-inline: 2rem;
    }
    header{
        margin-left: -2rem;
    }
}